<h1>I Logica</h1>

    <h2>Data completa</h2>
    <table>
        <thead>
             <tr>
                 <th>Nombre</th>
                 <th>Edad</th>
                 <th>Genero</th>
                 <th>Email</th>
                 <th>Telefono</th>
                 <th>Compañia</th>
             </tr>
        </thead>
        <tbody>
            <tr *ngFor="let person of persons">
                <th>{{person.name}}</th>
                <th>{{person.age}}</th>
                <th>{{person.gender}}</th>
                <th>{{person.email}}</th>
                <th>{{person.phone}}</th>
                <th>{{person.company}}</th>
            </tr>
        </tbody>
    </table>
    <br>
    <h2>Personas que poseen el campo adrress y ordenados por el campo nombre </h2>
    <table>
        <thead>
             <tr>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Genero</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Compañia</th>
             </tr>
        </thead>
        <tbody>
            <tr *ngFor="let person of filter">
                <th>{{person.name}}</th>
                <th>{{person.age}}</th>
                <th>{{person.gender}}</th>
                <th>{{person.email}}</th>
                <th>{{person.phone}}</th>
                <th>{{person.company}}</th>
            </tr>
        </tbody>
    </table>